<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to HealthTopics Web API!</h1>
            </hgroup>
            <p>
                Read about symptoms, causes, treatment and prevention for over 900 diseases, illnesses, health conditions and wellness issues. MedlinePlus health topics are regularly reviewed, and links are updated daily.
            </p>         
        </div>
    </section>
    
</div>
